body{
    display: flex;
    margin: 0;
}

#nasa{ 
    width:40vw; 
    height: 100vh; 
}

.info{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description, .account {
    background-color: lightgray;
}

.description, .account, .form {
    padding-left: 30px;
    padding-right: 90px;
    height: 100%;
}
.description{
    font-weight: 700;
}

