body{
    display: flex;
    margin: 0;
}

#nasa{ 
    width:40vw; 
    height: 100vh; 
}

.info{ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description, .account {
    background-color: rgb(240, 239, 239);
}

.description, .account, .form {
    padding-left: 30px;
    padding-right: 90px;
    height: 100%;
}
.description{
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 0px;
}

.account{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
}

button{ 
    background-color: #596D48;
    border-radius: 10%;
    color: white;
    font-size: 24px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 50px;
} 

a{ 
    color: #596D48;
    text-decoration: none;
    font-weight: 700;
}